@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* header section ************************************* */
 


.header_image {
  min-width: 100%;
  object-fit: cover;
}

.divnav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  justify-content: space-between;
  padding: 22px 0;
}

.nav_btn {
  display: flex;
}

/* input[type="text"]  */


.header_search {
  transform: scale(1.2);
  border: none;
  outline: none;
  margin-left: 77px;
  /* padding: 10px 13px; */
  font-weight: 400;
  font-size: 14px;
  /* overflow: visible; */
  /* width: 222px; */
  
  width: 200px;
  margin-right: 50px;

}



.logo_search {
  display: flex;
}

.navlink {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navlink li a {
  text-decoration: none;
}

.navlink li a:hover {
  text-decoration: underline;
  color: var(--text-gray);
}

.btn_main {
  margin-left: 30px;
}


.hamburger_mobile{
  display: none;
}



/* section landing page ****************************** */

.main_image {
  background-image: url(assets/images/main_image.png);
  width: 100%;
  height: 702px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer_design{
  position:  absolute;
  bottom: -1px;
  width: 100%;

}

.landing_page_wrapper {
  margin: 0 auto;
}

.landing_detail {
  text-align: center;
  /* width: 43%;
  margin: 0 auto; */
}

.landing_h1 {
  color: var(--text-white);
}

.landing_para {
  color: var(--text-white);
  font-weight: 400;
  line-height: 2;
}

.hotel {
  width: 100%;
  background-color: var(--bg-white);
  border-radius: 12px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 60px;
  text-align: start;
  flex-wrap: wrap;
}

.hotel_search {
  border-right: 1px solid #757575;
  padding-right: 20px;
}

.location_search {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-gray);
  width: 96px;
  font-size: 13px;
}

/* .Select_room {
  width: 86px;
}

.check_in,
.check_out {
  width: 110px;
} */


 
.location_search_icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.Search_icon {
  color: var(--text-gray);
  font-size: 14px;
}

.hotel_heading5 {
  padding-bottom: 5px;
}

.checkout_btn_icon {
  margin-right: 10px;
}

.hotel_butto {
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 15px;
}




/* tour section ********************************** */

.tour_section_wrapper {
  margin: 0 auto;
}

.tour_section_all {
  display: flex;
  gap: 30px;
}

/* .tour{
  width: 20%;
  } */


.tour_heading4 {
  padding-bottom: 40px;
}

.tour_image_icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.tour_heading_h3 {
  padding-bottom: 14px;
}

.tour_paragraph {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary);
}

/* destinations section ***************************** */

.destinations_wrapper {
  margin: 0 auto;
}

.destination_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}


.destination_allphoto {
  font-size: 14px;
  font-weight: 400;
}

.destination_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;


}

.destination_heading a:hover {
  text-decoration: underline;
  color: var(--text-gray);
}

.tour_image {
  width: 100%;
  /* height: 130px; */
  object-fit: cover;
  /* border-radius:130px ; */
  margin-bottom: 20px;


}

.destination_heading3 {
  padding-bottom: 5px;
}

.destination_para {
  font-weight: 400;
  font-size: 14px;
}

/* popolar tours ****************************** */



.tour_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
}

.location_name {
  font-size: 13px;
}

.card {
  /* width: 23%; */
  /* max-width: calc(25% - 23px); */

  border: 1px solid #E7E6E6;
  padding: 11px;
  border-radius: 12px;
}

.card2{
  max-width: calc(25% - 23px); 
}



.card_description img {
  width: 100%;
  height: 200px;
  border-radius: 12px;

}

.card_image {
  position: relative;

}

.round>a {
  color: var(--text-gray);
}

.round {
  width: 35px;
  height: 35px;
  background-color: var(--bg-white);
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 40px 0px #0000000D;
  position: absolute;
  bottom: -9%;
  right: 5%;
  z-index: 9;
}


.font_awesome_icon {
  /* font-size: 1rem; */
  font-size: 14px;

}

.card_heading3 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--text-primary);
}

.rating {
  display: flex;
  gap: 10px;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #E7E6E6;
  padding-bottom: 15px;
}

.rating_star>:nth-child(1) {
  color: #0099FF;
  opacity: 0.9;
}

.rating_star>:nth-child(2) {
  color: #0099FF;
  opacity: 0.7;
}

.rating_star>:nth-child(3) {
  color: #0099FF;
  opacity: 0.5;
}

.rating_star>:nth-child(4) {
  color: #0099FF;
  opacity: 0.3;
}

.rating_star>:nth-child(5) {
  color: #0099FF;
  opacity: 0.1;
}

.location {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-gray);
}

.time {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.rating_number,
.day,
.price {
  color: var(--text-primary);
}


.from,
.rating_number,
.day_4 {
  font-size: 13px;
  font-weight: 400;
}

.rate {
  font-size: 15px;
  font-weight: 500;
}

.tour_detail {
  padding-left: 11px;
  padding-right: 11px;
}


/* tour_offer *********************************************** */
.offer_wrapper {
  margin: 0 auto;
}

.offer_wrapper {
  background-image: url(assets/images/offer_background.png);
  /* width: 100%; */
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer_detail {
  width: 100%;
  display: flex;
  align-items: center;
}

.discount {
  width: 50%;
  padding-left: 120px;
}

.offer_image_div {
  width: 50%;
  position: relative;
}

.offer_design_row{
  position:  absolute;
  z-index: 34; 
  left: 0;
  height: 100%;
}

.offer_image {
  width: 100%;
  /* height: 606px; */
  border-radius: 12px;
}

.price_bold {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 10px;
}

.price_off {
  color: var(--text-secondary);
}

.price_thin {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 30px;
}

.book_btn {
  padding: 17px 36px;
  margin-left: 0;
  border-radius: 12px;
}

.about_offer {
  width: 61%;
}




/* thing_section ************************************* */

.thing_image_mobile{
  display: none;
}
.thing_all_image {
  display: flex;
  gap: 30px;
}


.thing_section_wrapper {
  margin: 0 auto;
  /* background-color: red; */
  padding-left: 15px;
  padding-right: 15px;
}

.first_300 {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.thing_image_heading4 {
  padding-bottom: 0;
  color: var(--bg-white);
}


.thing_image {
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.thing_overlay {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 16;
  bottom: 0;
  border-radius: 12px;
}

.cruises,
.museum {
  position: relative;
}

.overlay{
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
}

.overlay:hover {
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);

}



.thing_image_heading4 {
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 33;
}


.second_410 {
  width: 31%;
  position: relative;
}

.beach_image {
  width: 100%;
  height: 510px;
  border-radius: 12px;
  object-fit: cover;
}

.beach_heading4 {
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 12;
  color: var(--bg-white);
}


.overlay_beach {
  width: 100%;
  height: 510px;
  border-radius: 12px;
  position: absolute;
  z-index: 9;
  top: 0;
}

.overlay_beach:hover {
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);

}

.city_image {
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}



.third_tour {
  width: 42%;
  height: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.city_heading4 {
  position: absolute;
  z-index: 55;
  bottom: 10px;
  left: 15px;
  color: var(--bg-white);

}

.overlay_city {
  position: absolute;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  z-index: 17;
  top: 0;
}

.overlay_city:hover {
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
}


.food_hiking {
  display: flex;
  gap: 30px;
  width: 100%;
}


.food {
  width: 39%;
  position: relative;
}

.food_image {
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.hiking {
  width: 58%;
  height: 240px;
  position: relative;
}

.hiking_image {
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.food_heading4 {
  position: absolute;
  z-index: 56;
  bottom: 10px;
  left: 15px;
  color: var(--bg-white);
}

.hiking_heading4 {
  position: absolute;
  z-index: 57;
  bottom: 10px;
  left: 15px;
  color: var(--bg-white);
}



.overlay_food {

  position: absolute;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  z-index: 18;
  top: 0;

}

.overlay_food:hover {
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
}



.overlay_hiking {
  position: absolute;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  z-index: 19;
  top: 0;
}

.overlay_hiking:hover {
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);
}



/* Top Trending section ********************* */

.trending_wrapper2 {
  margin: 0 auto;
  background-color: var(--bg-white_2);
  padding: 115px 105px;

}


.trending_card {
  width: 100%;
  /* height: 388px; */
}


.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 110%;
  top: 45%;
  right: -66px;
  z-index: -1;
}


.custom_nav {
  pointer-events: all;
  width: 35px;
  height: 35px;
  background-color: var(--bg--white);

  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.owl-nav .custom_nav i {
  color: var(--text-gray);
  font-size: 16px;
}

 

 


 

 


/* section_review ******************************** */
.section_review {
  background-image: url('assets/images/bg_customer_review.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: relative; */
}


.review_1 {
  position: relative;
}

.review_wrapper {
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* z-index: 88; */
  text-align: center;
}

.review_profile1 {
  max-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  /* margin-bottom: 60px; */

}

.first_review {
  width: 33%;
  margin: 0 auto;
}

.review_round {
  z-index: 222;
  width: 46px;
  height: 46px;
  background-color: var(--bg-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 40%;
}

.review_quote {
  color: var(--text-white);
}

.review_heading2 {
  padding-bottom: 60px;
}

.review_word {
  color: var(--text-secondary);
  padding: 60px 0 25px 0;
}

.review_text {
  /* font-size: 20px; */
  line-height: 2;
  padding-bottom: 28px;
}

.review_type {
  font-weight: 400;
  padding-bottom: 77px;
}



/* section offer second *************************** */
.second_wrapper {
  margin: 0 auto;
}

.second_offer_wrapper {
  background-image: url('assets/images/bg_second_offer.png');
  width: 100%;
 
  /* height: 514px; */
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.second_offer_photo {
  width: 100%;
  object-fit: cover;
}

.second_price_bold {
  color: var(--text-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 14px;
}

.second_offer_text {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-white);
  padding-bottom: 44px;
}

.second_email_link {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-white);
  padding-bottom: 10px;
}

.second {
  width: 23%;
}

.booking_form {
  display: flex;
  gap: 10px;
}


.booking_form input {
  padding: 20px 140px 20px 20px;
  border-radius: 12px;
  outline: none;
  border: 1px solid var(--text-white);

}

.booking_form button {
  padding: 20px 36px;
  border-radius: 12px;
  outline: none;
  border: 1px solid var(--text-white);
  color: var(--text-navblue);
}



/* article section ****************************************** */

.article_wrapper {
  margin: 0 auto;
}

.article_image {
  border-radius: 12px;
  width: 100%;

}

.travel_img {
  position: relative;
  padding-bottom: 33px;
}

.trip_round {
  width: 62px;
  height: 36px;
  border-radius: 200px;
  padding: 9px 15px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 55;
  background-color: white;
}

.travel_date,
.travel_name {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary);
}

.travel_date {
  border-right: 1px solid #E7E6E6;
  padding-right: 10px;
}

.travel_name {
  padding-left: 10px;
}

.article_heading3 {
  padding-top: 15px;
}

.aritcle_card1 {
  width: 32%;
}

.articles_cards {
  display: flex;
  gap: 30px;
}

/* footer section ***************************** */


.footer,
.footer_wrapper,
.footer_bottom {
  margin: 0 auto;
}



.footer_image {
  background-image: url('assets/images/footer_design.png');
  width: 100%;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.footer_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EB662B26;
  padding: 60px 0;
  margin-bottom: 40px;
}

.footer_top a {
  color: var(--text-secondary);
  text-decoration: none;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  margin-bottom: 30px;
}

.footer_column {
  width: 25%;
}

.contact_para {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 18px;
}

.footer_column h4 {
  margin-bottom: 29px;
}

.footer_column ul {
  list-style: none;
  padding: 0;
}

.footer_column ul li {
  margin-bottom: 18px;
}

.footer_column ul li a {
  color: var(--text-primary);
  font-weight: 500;
}

.newsletter_form {
  display: flex;
  margin-bottom: 30px;
}

.newsletter_form input {
  padding: 20px 0 20px 21px;
  border: 1px solid #E7E6E6;
  border-right: none;
  outline: none;
  border-radius: 12px 0 0 12px;
  font-size: 14px;
  font-weight: 400;
}

.newsletter_form button {
  padding: 0 21px 0 21px;
  border: 1px solid #E7E6E6;
  border-left: none;
  cursor: pointer;
  background-color: white;
  outline: none;
  border-radius: 0 12px 12px 0;
  font-weight: 400;
  color: var(--text-primary);

}

.letter_para {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 14px;
}



.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 24px 0 24px 0;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
}

.payment_icons img {
  width: 30px;
  min-width: 30px;

}






/* newsletter_form_mobile   *********** */
.newsletter_form_mobile{
 display: none;
 gap: 10px;
 /* flex-direction: column; */
 flex-wrap: wrap;
 padding-bottom: 20px;
 
}

.newsletter_form_mobile input{
  padding: 15px 8px;
  border-radius: 12px;
  outline: none;
  border: 1px solid #E7E6E6;
  outline: none;
  font-size: 14px;
  font-weight: 400; 
}

.newsletter_form_mobile button{

  /* margin-top: 20px; */
  padding: 10px 30px;
  border-radius: 12px;
  outline: none;
  border: 1px solid #E7E6E6;
  outline: none;
  font-size: 14px;
  font-weight: 400; 
  background-color: var(--bg-primary);
  color: var(--text-white);
}


/* *************** */
.apps{
  display: flex;
  flex-direction: column;  
   
}

.apps a i{
  padding-right: 5px;
   color: var(--text-primary);
   font-size: 1rem;
}


.app_name{
    font-weight: 400;
    color: var(--text-primary);
    font-size: 14px;
}
.apps a{
  padding-bottom: 10px;
}

.apps h4{
  margin-bottom: 10px;
}
 

 